# Server Configuration
PORT=

# MongoDB Configuration
MONGODB_URI=

# PostgreSQL Configuration
PG_HOST=
PG_PORT=
PG_DATABASE=
PG_USER=
PG_PASSWORD=

# JWT Secret (pour l'authentification)
JWT_SECRET=

# JWT Refresh Secret
JWT_REFRESH_SECRET=
